The Shopping Cart lets users add, remove, and check items out.
They can add an item that wasn't already added.
The checkout process returns a receipt that holds the subtotal, tax, and total.

               Test Cases
----------------------------------------
- adding an item if not already added
    - test if item is already added to cart
    - test if item was added
- removing an item
    - test if item was removed
    - test for IllegalState if item is not there
- checkout
    - Test if subtotal is calculated correctly
    - Test if tax is calculated correctly
    - Test if total is calculated correctly
    - TEst for IllegalStateException for trying to checkout an empty cart
